.TodoItem {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    background-color: #3a3737;
}
  
.TodoItem-p {
  /* margin: 24px 0 24px 24px; */
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.TodoItem-p--complete {
  color: #777777;
  text-decoration: line-through;
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
  /* background-color: #CCC; */
}

.Icon-check {
  position: absolute;
  left: 0;
  color: #777777;
}

.TodoItem .check-size {
  width: 30px;
  height: 30px;
}

.Icon-check--active {
  color: #4caf50;
}

.Icon-delete {
  position: absolute;
  top: -24px;
  right: -5px;
  color: #777777;
}

.TodoItem .cross-size {
  width: 15px;
  height: 15px;
}

.Icon-delete:hover {
  color: rgb(168, 83, 83);
}