.TodoItem {
    display: flex;
    position: relative;
    margin: 20px auto 0;
    padding: 5px;
    width: 90%;
    height: auto;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: #474243;
}
  
.TodoItem-p {
  margin-left: 10px;
  width: 70%;
  font-size: 1.1rem;
  font-weight: 400;
  word-break: break-word;
}

.TodoItem-p--complete {
  color: var(--icons-color);
  text-decoration: line-through;
}

.Icon-check {
  position: absolute;
  left: 8px;
  color: var(--icons-color);
  cursor: pointer;
}

.TodoItem .check-size {
  width: 30px;
  height: 30px;
}

.Icon-check--active {
  color: #62a164;
}

.Icon-delete {
  position: absolute;
  top: -8px;
  right: 10px;
  color: var(--icons-color);
  cursor: pointer;
  transition: all .3s ease;
}

.TodoItem .cross-size {
  width: 15px;
  height: 15px;
}

.Icon-delete:hover {
  color: var(--contrast-color);
}