header {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

header .title {
    font-family: 'Caveat', cursive;
    font-size: 3.5rem;
    color: var(--primary-text-color);
}

@media (min-height: 640px) {
    header {
        margin-bottom: 30px;
    }
}

@media (min-width: 800px) {
    header .title {
        font-size: 4rem;
    }
}