.no-tasks-message {
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-tasks-message .no-results {
    margin-bottom: 20px;
    height: 110px;
    width: 110px;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
        filter: drop-shadow(0 5px 15px rgba(0,0,0,0.7));
        transform: translatey(0px);
    }
	50% {
        filter: drop-shadow(0 25px 15px rgba(0,0,0,0.3));
        transform: translatey(-15px);
    }
	100% {
        filter: drop-shadow(0 5px 15px rgba(0,0,0,0.7));
        transform: translatey(0px);
    }
}

.no-tasks-message h3 {
    font-size: 1.3rem;
    color: var(--primary-text-color);
}

.no-tasks-message p {
    font-size: 1rem;
    color: var(--secondary-text-color);
}

.no-tasks-message .arrow {
    display: none;
    margin-top: 35px;
    width: 150px;
    height: 150px;
    opacity: .3;
}

@media (min-height: 640px) {
    .no-tasks-message .arrow {
        display: inline-block;
    }
}