form {
    display: flex;
    width: 80%;
    /* padding: 15px; */
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #e9e9e9, #e1e1e1, #dadada, #d2d2d2, #cbcbcb);
    box-shadow: 0 5px 14px #131212;
}

label {
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    color: var(--background-color);
}

textarea {
    height: 100px;
    width: 85%;
    padding: 8px 10px;
    border: 2px solid var(--background-color);
    border-radius: 5px;
    color: var(--background-color);
    box-shadow: inset 0 0 8px #9e9e9e;
    resize: none;
    outline: none;
    overflow-wrap: break-word;
    hyphens: auto;
    font-size: 1rem;
}

textarea::placeholder {
    color: #5f5f5f;
}

.buttons-container {
    display: flex;    
    margin: 10px 0;
    width: 85%;
    justify-content: space-between;
}

.buttons-container button {
    padding: 5px;
    width: 110px;
    border: none;
    border-radius: 5px;
    font-size: .9rem;
    letter-spacing: .1rem;
    color: var(--primary-text-color);
    cursor: pointer;
}

button:first-child {
    background-color: var(--contrast-color);
}

button:first-child:hover {
    background-color: #e25672;
}

button:nth-child(2) {
    background-color: #499c4b;
}

button:nth-child(2):hover {
    background-color: #408641;
}

@media (min-width: 400px) {
    .buttons-container {
        justify-content: space-around;
    }
    .buttons-container button {
        width: 130px;
    }
}

@media (min-width: 500px) {
    form {
      height: 250px;
      max-width: 400px;
    }
    label {
        font-size: 1.8rem;
    }
    textarea {
        height: 140px;
        font-size: 1.2rem;
    }
    .buttons-container button {
        font-size: 1.1rem;
        height: 40px;
    }
  }