.button-container {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
}

.CreateTodoButton {
    /* display: block; */
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    color: var(--contrast-color);
    transition: all .4s ease;
    cursor: pointer;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.CreateTodoButton:hover {
    color: #c73e5a;
    animation: spin 2s infinite;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
}
