* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #252525;
  color :#e7e7e7;
  font-size: 62.5%;
  font-family: 'Source Sans Pro', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  justify-content: center;
}