:root {
  --background-color: #252525;
  --primary-text-color: #e7e7e7;
  --secondary-text-color: #777676;
  --contrast-color: #ff5f80;
  --icons-color: #777777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font-size: 62.5%;
  background-color: var(--background-color);
  color :var(--primary-text-color);
}

#root {
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 90%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}
