.tasks-counter-container {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  align-items: center;
}

.TodoCounter {
  font-size: 1.2rem;
  color: #a5a5a5;
}

.TodoCounter span {
  font-size: 1.2rem;
  font-weight: 700;
  color: #d8d8d8
}
